@using Articulate
@using Umbraco.Core.Models.PublishedContent
@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    Layout = "~/Views/WebBase.cshtml";
    var articulateModel = (Articulate.Models.ListModel)Model;
}

<!-- Page Content -->
<!-- Banner Starts Here -->
@Html.ThemedPartial(articulateModel, "HeaderDescription")
@*@{ Html.RenderAction("RenderHeadingPage", "SiteLayout"); }*@
<!-- Banner Ends Here -->
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        @*@{ Html.RenderAction("RenderPostList", "Blog", new { numberOfItems = 6 }); }*@
                        @*@{ Html.Partial("~/Views/Partials/Blog/_PostList.cshtml"); }*@
                        <!--Content-->
                        @if (!articulateModel.Children.Any())
                        {
                            <article>No blog posts found</article>
                        }
                        else
                        {
                            foreach (var post in articulateModel.Posts)
                            {
                                var author = post.Value<IPublishedContent>("Author");
                                var thumbnail = Url.GetCropUrl(post.PostImage, cropAlias: "blogPost", useCropDimensions: true, htmlEncode: false, upScale: false);
                                var category = post.Value<string[]>("Categories");
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <a href="@post.Url"><img src="@thumbnail" alt="@post.Name"></a>
                                        </div>
                                        <div class="down-content">
                                            <span>@category[0]</span>
                                            <a href="@post.Url"><h4>@post.Name</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">@post.Name</a></li>
                                                <li><a href="#">@post.PublishedDate.ToString("MMMM dd, yyyy")</a></li>
                                                @*<li><a href="#">12 Comments</a></li>*@
                                            </ul>
                                            <p>@post.Excerpt&hellip;</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a href="#">Best Templates</a>,</li>
                                                            <li><a href="#">TemplateMo</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @*Pagination*@
                        @Html.ThemedPartial(articulateModel, "Pager", articulateModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
