@using Umbraco.Helpers
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "WebBase.cshtml";
    var blogPage = Model.Root().Descendants().Where(x => x.ContentType.Alias == "blogEntries").FirstOrDefault();

    var pageNumber = 1; int.TryParse(Request.QueryString["page"], out pageNumber);
    var pageSize = QueryStringHelper.GetIntFromQueryString(Request, "size", 6);

    var pageOfArticles = blogPage.Children.OrderByDescending(x => x.UpdateDate).Skip((pageNumber - 1) * pageSize).Take(pageSize);

    var totalItemCount = blogPage.Children.Count();

    var pageCount = totalItemCount > 0 ? Math.Ceiling((double)totalItemCount / pageSize) : 1;

    if (pageNumber > pageCount)
    {
        pageNumber = Convert.ToInt32(pageCount);
    }
    else if (pageNumber < 1)
    {
        pageNumber = 1;
    }

}

<!-- Page Content -->
<!-- Banner Starts Here -->

@{ Html.RenderAction("RenderHeadingPage", "SiteLayout"); }


<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        @*@{ Html.RenderAction("RenderPostList", "Blog", new { numberOfItems = 6 }); }*@
                        @*@{ Html.Partial("~/Views/Partials/Blog/_PostList.cshtml"); }*@
                        @if (blogPage != null)
                        {
                            foreach (var article in pageOfArticles)
                            {
                                var bgImage = article.Value<IPublishedContent>("ArticleImage");
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <a href="@article.Url"><img src="@bgImage.Url" alt="@article.Name"></a>
                                        </div>
                                        <div class="down-content">
                                            <span>Lifestyle</span>
                                            <a href="article.LinkUrl"><h4>@article.Name</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">@article.CreatorName</a></li>
                                                <li><a href="#">@article.CreateDate.ToString("MMMM dd, yyyy")</a></li>-->
                                                @*<li><a href="#">12 Comments</a></li>*@
                                            </ul>
                                            <p>@article.Value("ArticleIntro")</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a href="#">Best Templates</a>,</li>
                                                            <li><a href="#">TemplateMo</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <!--Pagination-->
                        <div class="col-lg-12"">
                            <ul class="page-numbers">
                                @if (blogPage != null)
                                {
                                    if (pageCount > 1)
                                    {
                                        if (pageNumber > 1)
                                        {
                                            <li><a href="@($"{blogPage.Url}?page={pageNumber - 1}")"><i class="fa fa-angle-double-left"></i></a></li>
                                        }
                                        for (int p = 1; p < pageCount + 1; p++)
                                        {
                                            <li class="@(p == pageNumber? "active" : string.Empty)">
                                                <a href="@($"{blogPage.Url}?page={p}")">@p</a>
                                            </li>
                                        }
                                        @*<div class="paging-block text-center">
                                            <span>Page @pageNumber of @pageCount</span>
                                        </div>*@
                                        if (pageNumber > 0)
                                        {
                                            <li><a href="@($"{blogPage.Url}?page={pageNumber + 1}")"><i class="fa fa-angle-double-right"></i></a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Recent Posts</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                                                <span>May 31, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                                                <span>May 28, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                                                <span>May 14, 2020</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Categories</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">- Nature Lifestyle</a></li>
                                        <li><a href="#">- Awesome Layouts</a></li>
                                        <li><a href="#">- Creative Ideas</a></li>
                                        <li><a href="#">- Responsive Templates</a></li>
                                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                                        <li><a href="#">- Creative &amp; Unique</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Tag Clouds</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Creative</a></li>
                                        <li><a href="#">HTML5</a></li>
                                        <li><a href="#">Inspiration</a></li>
                                        <li><a href="#">Motivation</a></li>
                                        <li><a href="#">PSD</a></li>
                                        <li><a href="#">Responsive</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

